# Java/Scala
target
*.class
*.log
/.idea
/.bsp

# Output files of example code
/*.jelly

.metals/

# General
.DS_Store
.AppleDouble
.LSOverride
.env

# Sonar
.scannerwork

# IJIdea
.idea/
*.iws
*.iml
*.ipr

# Node
node_modules
